# Editors
.vs/

# Logs
*.log
*mono_chrash*
**/*mono_crash*
Assets/logs/
nohup.out
**/nohup.out

# Builds
bin/
obj/

# Package folder
Source/packages/**/*
!/Source/package

!/Assets/gdscript-cli/**/*
!/Assets/gdscript-cli
